{% extends 'niramaya/basic.html' %}

{% block tittle %}

Register the hospital

{% endblock %}
{% block body %}

<div class="container">
  <div class="container my-5 hdsection">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">
          Time to work for a greater cause.
        </h1>
        <p class="lead py-4">
          Leading online Healthcare Management system for Government
          hospitals.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-main-2 btn-icon btn-round-full">
            Get Help
          </button>
          <button type="button" class="btn btn-main btn-icon btn-round-full">
            Do Help
          </button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="hddimage" src="/hackaweb/niramaya/static/niramaya/images/hdimage1.jpeg" alt="" class="rounded-lg-3" width="780">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="text-center my-5 ">Key features of Nirmaya</h1>
  <div class="row box">
    <div class="col-lg-4 boxes">
      <h2 class="text-center my-2">Heading</h2>
      <p class="text-center">
        Some representative placeholder content for the three columns of
        text below the carousel. This is the first column.
      </p>
    </div>
    <div class="col-lg-4">
      <h2 class="text-center my-2">Heading</h2>
      <p class="text-center">
        Another exciting bit of representative placeholder content. This
        time, we've moved on to the second column.
      </p>
    </div>

    <div class="col-lg-4">
      <h2 class="text-center my-2">Heading</h2>
      <p class="text-center">
        And lastly this, the third column of representative placeholder
        content.
      </p>
    </div>
  </div>
</div>
<div class="container my-5">
  <hr class="my-4" />
  <div class="row featurette d-md-flex align-items-center">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        We work with you to address. <br />
        <span class="text-muted">It’ll blow your mind.</span>
      </h2>
      <p class="lead">
        Over the years, a wide range of developments and innovations in the
        global IT arena have led to many new IT-enabled devices and services
        being produced. Moreover, there is need for IT today, not just in
        urban areas but rural regions as well.
      </p>
    </div>
    <div class="col-md-5">
      <img class="hdimages" src="/hackaweb/niramaya/static/niramaya/images/hdimage.jpg" alt="">
    </div>
  </div>
  <hr class="my-4" />
  <div class="row featurette d-md-flex align-items-center">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        Over 1000+ patients saved till now. <br />
      </h2>
      <p class="lead">
        As a result, now government hospitals need to know about the system
        of connecting with other hospitals.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="/hackaweb/niramaya/static/niramaya/images/hdimage2.jpeg" alt="" class="hdimages">
    </div>
  </div>
  <hr class="my-4" />
  <div class="row featurette d-md-flex align-items-center">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        100+ Save Life Drive done till now with the government hospitals.
        <br />
        <span class="text-muted">Sky is the limit.</span>
      </h2>
      <p class="lead">
        we are planning to extend to a wider range connecting all the
        government hospitals together and forming a chain of hospitals
        always available for the moment.
      </p>
    </div>
    <div class="col-md-5">
      <img src="/hackaweb/niramaya/static/niramaya/images/hdimage3.jpeg" alt="" class="hdimages">
    </div>
  </div>
  <hr class="my-4" />
</div>
{% endblock %}
{% load static %}
{%block js%}{%endblock%}