{% extends 'niramaya/basic.html' %}

{% block tittle %}

Register the hospital

{% endblock %}
{% block body %}

<div class="container">
  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">
          Time to work for a greater cause.
        </h1>
        <p class="lead py-4">
          Leading online Healthcare Management system for Government
          hospitals.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">
            Get Help
          </button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">
            Do Help
          </button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="/img/moon.jpg" alt="" width="720" />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="text-center my-5">Key features of nirmaya</h1>
  <div class="row">
    <div class="col-lg-4">
      <h2 class="text-center my-2">Heading</h2>
      <p class="text-center">
        Some representative placeholder content for the three columns of
        text below the carousel. This is the first column.
      </p>
      <p><a class="btn btn-secondary" href="#">View details »</a></p>
    </div>
    <div class="col-lg-4">
      <h2 class="text-center my-2">Heading</h2>
      <p class="text-center">
        Another exciting bit of representative placeholder content. This
        time, we've moved on to the second column.
      </p>
      <p><a class="btn btn-secondary" href="#">View details »</a></p>
    </div>

    <div class="col-lg-4">
      <h2 class="text-center my-2">Heading</h2>
      <p class="text-center">
        And lastly this, the third column of representative placeholder
        content.
      </p>
      <p><a class="btn btn-secondary" href="#">View details »</a></p>
    </div>
  </div>
</div>
<div class="container my-5">
  <hr class="my-4" />
  <div class="row featurette d-md-flex align-items-center">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        We work with you to address. <br />
        <span class="text-muted">It’ll blow your mind.</span>
      </h2>
      <p class="lead">
        Over the years, a wide range of developments and innovations in the
        global IT arena have led to many new IT-enabled devices and services
        being produced. Moreover, there is need for IT today, not just in
        urban areas but rural regions as well.
      </p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"></rect>
        <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
      </svg>
    </div>
  </div>
  <hr class="my-4" />
  <div class="row featurette d-md-flex align-items-center">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        Over 1000+ patients saved till now. <br />
      </h2>
      <p class="lead">
        As a result, now government hospitals need to know about the system
        of connecting with other hospitals.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"></rect>
        <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
      </svg>
    </div>
  </div>
  <hr class="my-4" />
  <div class="row featurette d-md-flex align-items-center">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        100+ Save Life Drive done till now with the government hospitals.
        <br />
        <span class="text-muted">Sky is the limit.</span>
      </h2>
      <p class="lead">
        we are planning to extend to a wider range connecting all the
        government hospitals together and forming a chain of hospitals
        always available for the moment.
      </p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"></rect>
        <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
      </svg>
    </div>
  </div>
  <hr class="my-4" />
</div>
{% endblock %}
{% load static %}
{%block js%}{%endblock%}