{% extends 'niramaya/basic.html' %}

{% block tittle %}

Register the hospital

{% endblock %}
{% block body %}

<div id="top" style="width: auto; margin: 50px auto;">
    <section class="patientDetails">
      <span class="patientHeading">Patient Details</span>
      <div class="patientform" style='margin:40px auto 0;'>
        <form>
          <div class="mb-3">
            <label for="exampleInputName1" class="form-label"
              >Patient Name</label
            >
            <input
              type="name"
              class="form-control"
              id="exampleInputName1"
              aria-describedby="nameHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputDisease" class="form-label"
              >Disease Diagnosed</label
            >
            <input
              type="discription"
              class="form-control"
              id="exampleInputDisease"
              aria-describedby="nameHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputAge" class="form-label">Age</label>
            <input type="number" class="form-control" id="exampleInputAge" />
          </div>
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >All Details are Authentic</label
            >
          </div>
          <button>Upload Lab Report</button>
          <input type="text" id="f" disabled="disabled" />
          <input id="html_btn" type="file" /><br />
          <button type="submit" class="btn btn-main-2 btn-icon btn-round-full">
            Submit
          </button>
        </form>
      </div>
    </section>
    <section class="requirements">
      <div class="requirement">
        <form>
          <label for="cars">Choose what is required:</label>
          <select name="cars" id="cars">
            <option value="Bed">Bed</option>
            <option value="Ventilators">Ventilators</option>
            <option value="oxygen">Oxygen Cylinder</option>
            <option value="icu">ICU</option>
          </select>
          <br /><br />
          <p
            class="btn btn-main-2 btn-icon btn-round-full"
            id="btnclick"
          >
            Check for Available Hospitals
          </p>
        </form>
      </div>
    </section>
    <section class="availableHospitals" style='width: auto; margin: 50px auto;'>
      <div id="hospitals" class='justify-content-center gap-5' style='display: none;'>
        <div class="card1" style="width: 18rem">
          <img
          {% load static %}
          src="{% static "niramaya/images/hospital1.jpeg" %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-main-2 btn-icon btn-round-full"
              >Request Referral
            </a>
          </div>
        </div>
        <div class="card2" style="width: 18rem">
          <img
          {% load static %}
            src="{% static "niramaya/images/hospital2.jpeg"%}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-main-2 btn-icon btn-round-full"
              >Request Referral</a
            >
          </div>
        </div>
        <div class="card3" style="width: 18rem">
          <img
          {% load static %}
            src="{% static "niramaya/images/hospital3.jpeg" %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-main-2 btn-icon btn-round-full"
              >Request Referral</a
            >
          </div>
        </div>
        <div class="card4" style="width: 18rem">
          <img
          {% load static %}
          src="{% static "niramaya/images/hospital3.jpeg" %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-main-2 btn-icon btn-round-full"
              >Request Referral</a
            >
          </div>
        </div>
      </div>
    </section>
    
  </div>
    {% endblock %}
    {% load static %}
    {%block js%}
    <script>
      {% comment %} function myFunction() {
        var element = document.getElementById("hospitl");
        element.classList.remove("hospitals");
        element.classList.add("hospital1");
      } {% endcomment %}

      document.getElementById('btnclick').addEventListener('click',function (){
        console.log('carry beta');
        document.getElementById('hospitals').style.display = "flex";
      })
    </script>
   {%endblock%}
   
